.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    text-align: center;
    display: none; /* Mặc định là không hiển thị */
    opacity: 1;
    visibility: visible; /* Thêm */
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Thêm transition cho visibility */
}

.message.hidden {
    opacity: 0;
    visibility: hidden; /* Ẩn thông báo */
}

  
  .message.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .message.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  

  